<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.core.serverTypes">
      <serverType
            behaviourClass="org.eclipse.wst.server.core.tests.integration.model.ServerBehaviorClass"
            class="org.eclipse.wst.server.core.tests.integration.model.ServerClass"
            description="servertools.test.startBeforeSynch"
            hasConfiguration="false"
            id="servertools.test.startBeforeSynch"
            launchConfigId="org.eclipse.wst.server.core.tests.integration.StartServerLaunchConfiguration"
            launchModes="run,debug,profile"
            name="servertools.test.startBeforeSynch"
            runtime="true"
            runtimeTypeId="servertools.test.runtimeType"
            startBeforePublish="true"
            synchronousStart="true">
      </serverType>
      <serverType
            behaviourClass="org.eclipse.wst.server.core.tests.integration.model.ServerBehaviorClass"
            class="org.eclipse.wst.server.core.tests.integration.model.ServerClass"
            description="servertools.test.startAfterSynch"
            hasConfiguration="false"
            id="servertools.test.startAfterSynch"
            launchConfigId="org.eclipse.wst.server.core.tests.integration.StartServerLaunchConfiguration"
            launchModes="run,debug,profile"
            name="servertools.test.startAfterSynch"
            runtime="true"
            runtimeTypeId="servertools.test.runtimeType"
            startBeforePublish="false"
            synchronousStart="true">
      </serverType>
      <serverType
            behaviourClass="org.eclipse.wst.server.core.tests.integration.model.ServerBehaviorClass"
            class="org.eclipse.wst.server.core.tests.integration.model.ServerClass"
            description="servertools.test.startAfterAsynch"
            hasConfiguration="false"
            id="servertools.test.startAfterAsynch"
            launchConfigId="org.eclipse.wst.server.core.tests.integration.StartServerLaunchConfiguration"
            launchModes="run,debug,profile"
            name="servertools.test.startAfterAsynch"
            runtime="true"
            runtimeTypeId="servertools.test.runtimeType"
            startBeforePublish="false"
            synchronousStart="false">
      </serverType>
            <serverType
            behaviourClass="org.eclipse.wst.server.core.tests.integration.model.ServerBehaviorClass"
            class="org.eclipse.wst.server.core.tests.integration.model.ServerClass"
            description="servertools.test.startBeforeAsynch"
            hasConfiguration="false"
            id="servertools.test.startBeforeAsynch"
            launchConfigId="org.eclipse.wst.server.core.tests.integration.StartServerLaunchConfiguration"
            launchModes="run,debug,profile"
            name="servertools.test.startBeforeAsynch"
            runtime="true"
            runtimeTypeId="servertools.test.runtimeType"
            startBeforePublish="true"
            synchronousStart="false">
      </serverType>
      
   </extension>
   <extension
         point="org.eclipse.wst.server.core.runtimeTypes">
      <runtimeType
            class="org.eclipse.wst.server.core.tests.integration.model.RuntimeClass"
            description="Test Runtime"
            id="servertools.test.runtimeType"
            name="Test Runtime"
            vendor="Webtools Test">
         <moduleType
               types="test.module"
               versions="1.0">
         </moduleType>
         <moduleType
               types="org.eclipse.wst.server.core.tests.moduleType1"
               versions="org.eclipse.wst.server.core.tests.moduleType1">
         </moduleType>
      </runtimeType>
   </extension>
	<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            category="WebTools"
            delegate="org.eclipse.wst.server.core.tests.integration.model.StartServerLaunchConfiguration"
            id="org.eclipse.wst.server.core.tests.integration.StartServerLaunchConfiguration"
            modes="run,debug,profile"
            name="WebTools Server Startup Configuration"
            public="true"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"/>
    </extension>
 <extension
       point="org.eclipse.wst.server.core.moduleFactories">
    <moduleFactory
          class="org.eclipse.wst.server.core.tests.integration.model.ModuleFactory"
          id="servertools.test.moduleFactory">
       <moduleType
             types="test.module"
             versions="1.0">
       </moduleType>
    </moduleFactory>
 </extension>
</plugin>
